In [1]:
import numpy as np
import pandas as pd

In [12]:
S = pd.read_csv('stock.csv', na_values='.')
S

,exec,symbol,pc_1,pc_2,pc_3,pc_4,pc_5,pc_6,pc_7,pc_8,...,pc_71,pc_72,pc_73,pc_74,pc_75,pc_76,pc_77,pc_78,pc_79,pc_80
0,AMEX,ADGE,1.69,1.87,1.87,2.00,2.01,2.01,1.95,1.99,...,2.13,2.20,2.14,2.21,2.31,2.37,2.31,2.18,2.19,2.20
1,AMEX,AGQ,24.51,25.00,23.98,31.91,35.71,35.68,36.59,34.74,...,43.85,43.90,43.27,43.49,43.48,45.79,44.10,43.32,43.75,43.06
2,AMEX,AMU,28.23,28.48,28.00,28.56,28.61,28.62,28.69,28.43,...,25.72,25.61,25.64,25.50,25.33,25.14,24.25,23.95,24.03,NaN
3,AMEX,ANV,10.45,11.44,11.88,13.17,13.67,14.16,NaN,11.79,...,27.65,27.22,27.27,27.65,28.55,30.71,30.13,28.96,29.40,29.30
4,AMEX,AOA,39.20,39.72,39.30,40.03,40.16,40.00,39.59,39.50,...,37.85,37.71,37.83,37.93,37.79,37.76,37.17,36.74,36.86,36.98
5,AMEX,AXX,1.07,1.05,1.08,1.14,1.16,1.23,1.25,1.22,...,2.13,2.17,2.11,1.97,1.83,1.93,1.80,1.71,1.75,1.86
6,AMEX,BAB,30.83,30.70,30.83,30.84,30.75,30.64,30.68,30.65,...,30.18,30.18,29.91,29.96,30.03,30.22,30.24,30.54,30.37,30.33
7,AMEX,CCX,21.16,21.38,21.25,21.59,21.65,21.58,21.54,21.42,...,21.58,21.57,21.54,NaN,21.55,21.54,21.48,21.39,21.42,21.31
8,AMEX,CWB,42.00,42.17,42.03,42.62,42.62,42.36,42.20,41.93,...,41.05,41.02,40.96,NaN,40.72,40.71,NaN,39.95,40.07,40.40
9,AMEX,DBU,18.23,18.59,18.38,18.68,18.53,18.49,18.18,17.96,...,18.41,18.31,18.39,18.57,18.40,18.52,18.40,18.14,18.24,18.13
10,AMEX,DSUM,25.32,25.28,25.24,25.34,25.23,25.26,25.22,25.19,...,24.90,24.93,24.90,24.90,24.90,24.87,24.79,24.74,24.80,24.71
11,AMEX,DTO,48.28,46.64,47.20,44.81,42.78,41.86,42.37,NaN,...,43.29,43.13,43.19,43.41,43.75,43.52,44.69,45.64,NaN,45.39
12,AMEX,EBND,32.88,33.01,32.78,32.99,33.00,32.91,32.72,32.71,...,32.13,31.93,32.10,32.14,32.25,32.36,32.29,32.20,32.18,33.01
13,AMEX,EFU,NaN,14.53,14.90,14.55,14.30,14.52,14.99,15.14,...,16.30,16.48,16.28,16.13,16.31,15.98,16.47,17.01,16.72,16.81
14,AMEX,EIS,44.18,44.50,44.15,44.75,44.91,44.86,44.71,45.09,...,42.11,41.99,41.76,42.46,42.12,43.02,41.90,41.58,41.49,41.43
15,AMEX,EMLP,23.49,23.70,23.39,23.80,23.84,23.82,23.72,23.62,...,21.49,21.43,21.46,21.51,21.41,NaN,20.83,20.49,20.54,20.64
16,AMEX,EOX,NaN,6.02,5.91,6.58,6.78,6.77,6.45,6.41,...,5.71,5.77,5.58,5.59,5.55,5.27,5.24,5.12,5.22,5.36
17,AMEX,EUO,19.33,18.90,19.34,19.14,19.14,19.25,19.20,19.44,...,19.40,19.34,19.25,19.33,19.42,NaN,19.01,18.94,18.87,18.91
18,AMEX,EWS,13.79,13.91,13.75,13.90,13.99,NaN,13.95,13.82,...,13.68,13.55,13.63,13.76,13.77,13.89,13.69,13.59,13.59,13.54
19,AMEX,EWV,20.88,20.58,21.06,20.66,20.79,21.28,22.14,21.89,...,28.97,29.60,28.82,NaN,28.12,27.55,29.01,29.52,29.16,29.20
20,AMEX,EZJ,80.39,81.20,79.25,81.20,81.11,79.32,75.82,77.44,...,60.69,59.07,60.56,61.86,62.32,63.28,60.62,59.50,60.33,60.15
21,AMEX,EZM,67.56,68.48,NaN,70.05,70.51,70.20,69.25,69.09,...,64.42,64.05,64.37,64.61,63.99,63.93,62.38,61.16,61.61,61.70
22,AMEX,EZU,32.31,33.33,32.77,33.60,33.75,33.55,32.95,32.72,...,33.34,33.31,33.41,33.55,33.24,33.71,33.46,32.72,33.30,32.99
23,AMEX,FBG,32.62,33.40,32.59,33.86,33.95,33.76,33.01,NaN,...,NaN,29.32,29.48,29.55,29.41,29.49,28.06,27.30,27.79,27.77
24,AMEX,FIW,27.32,27.86,27.37,28.35,28.42,28.39,27.98,27.94,...,26.82,26.58,26.57,26.73,26.55,26.74,26.02,25.58,25.74,25.76
25,AMEX,FRI,19.69,19.93,19.60,NaN,19.96,19.84,19.71,19.72,...,18.10,18.04,18.10,18.06,17.97,17.98,17.75,17.58,17.69,17.64
26,AMEX,FRN,18.00,18.28,18.13,18.72,18.69,18.75,18.89,18.71,...,20.40,20.45,20.40,20.46,20.28,20.13,19.76,19.62,19.87,19.74
27,AMEX,GCC,26.97,27.13,26.81,27.69,27.88,27.89,27.95,27.84,...,28.65,28.66,28.69,28.64,28.74,28.98,28.83,28.95,29.08,29.10
28,AMEX,GLL,89.33,89.32,NaN,77.80,70.96,71.18,68.85,69.92,...,63.67,63.60,64.52,63.69,NaN,61.69,62.60,63.88,63.36,63.67
29,AMEX,GMM,63.34,64.34,63.12,65.00,65.48,65.61,64.77,NaN,...,67.87,67.29,67.92,68.35,68.25,68.38,67.22,66.15,66.14,65.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,NYSE,SWY,26.37,26.63,NaN,26.85,26.68,NaN,NaN,24.92,...,17.22,17.64,18.30,NaN,18.35,18.09,17.70,17.72,17.92,18.02
392,NYSE,TAOM,4.61,4.56,4.50,4.48,4.31,4.21,4.38,4.27,...,3.73,3.72,3.73,3.63,3.83,3.57,3.55,3.55,3.55,3.52
393,NYSE,TBI,20.18,20.17,19.87,20.07,20.18,NaN,20.19,19.84,...,16.82,16.93,16.85,16.73,16.60,15.75,15.54,15.51,15.54,NaN
394,NYSE,TCP,47.97,49.30,48.78,49.10,49.31,49.76,49.60,49.20,...,41.73,41.95,41.58,41.22,40.98,40.36,39.28,38.92,39.58,40.04
395,NYSE,TDF,26.61,27.10,26.90,27.53,27.60,27.51,27.13,27.04,...,28.99,28.99,NaN,29.13,29.17,28.44,27.87,27.87,27.82,27.61
396,NYSE,TEF,13.62,13.92,13.80,14.14,14.07,14.05,13.53,13.48,...,13.56,13.61,13.64,13.55,13.74,13.49,13.23,13.53,13.40,13.34
397,NYSE,TGI,77.46,78.61,79.06,NaN,81.47,81.28,79.65,78.41,...,67.94,69.62,69.36,68.98,67.72,65.30,64.12,64.40,64.43,65.64
398,NYSE,THS,63.91,64.44,62.11,61.75,61.73,61.72,61.51,61.64,...,53.72,53.09,54.16,54.35,53.83,52.13,50.70,51.07,51.71,52.44
399,NYSE,TI.A,6.70,6.96,6.84,7.18,7.15,6.89,6.45,6.61,...,7.89,7.93,8.07,8.12,8.05,7.90,7.86,7.94,7.92,7.91
400,NYSE,TPZ,26.03,26.07,25.90,26.12,26.51,26.65,26.81,26.59,...,26.29,26.36,26.29,25.85,25.54,25.18,25.31,25.61,25.68,25.68
401,NYSE,TREX,45.83,47.41,46.00,49.50,48.84,NaN,48.50,47.48,...,39.20,39.59,39.42,39.09,38.53,37.23,36.42,36.89,36.74,37.61
402,NYSE,TRGP,65.88,66.88,65.61,68.05,68.27,68.03,68.72,67.19,...,56.85,56.20,55.34,55.23,55.11,52.84,51.55,50.99,50.68,51.50
403,NYSE,TU,34.61,69.12,68.26,69.27,68.97,68.77,67.86,67.74,...,64.74,64.99,65.42,65.38,65.53,65.14,65.08,65.42,65.41,NaN
404,NYSE,UBS,15.59,16.32,15.62,16.09,16.17,15.95,15.25,15.38,...,16.44,16.34,16.07,16.00,16.36,15.74,15.61,15.84,15.96,15.93
405,NYSE,UBS-D,15.95,15.90,15.89,15.96,15.97,16.00,NaN,15.99,...,15.36,15.34,15.37,15.32,15.17,14.87,NaN,15.04,15.01,NaN
406,NYSE,UHS,60.56,61.21,60.12,62.46,62.86,60.84,62.50,62.44,...,50.25,51.21,NaN,49.84,49.69,NaN,47.38,NaN,47.85,48.54
407,NYSE,UL,42.10,42.77,42.54,43.00,42.97,42.54,41.99,41.92,...,38.75,38.72,38.90,38.69,39.01,38.72,38.30,38.61,38.63,38.74
408,NYSE,UN,40.86,41.50,41.28,41.89,41.88,41.51,40.98,40.83,...,38.14,38.28,38.50,38.24,38.54,38.30,37.87,38.21,38.14,38.25
409,NYSE,VNO-J,27.61,27.65,27.70,27.65,27.65,27.60,27.51,27.52,...,27.10,27.00,27.10,27.03,27.00,26.97,26.64,26.62,26.52,26.48
410,NYSE,VOC,12.72,13.07,12.60,13.05,13.06,12.97,12.48,12.17,...,NaN,13.99,NaN,14.04,13.34,12.83,12.43,12.48,12.62,12.70
411,NYSE,VRS,1.19,1.23,1.17,1.24,1.21,1.20,1.18,1.12,...,1.02,1.06,1.09,1.06,1.04,1.07,1.01,1.04,1.03,1.03
412,NYSE,VZ,49.54,50.46,50.64,50.86,50.51,49.86,49.43,49.56,...,43.10,44.69,44.30,NaN,44.27,43.27,42.90,43.48,43.45,43.54
413,NYSE,WGL,43.84,44.41,43.56,44.54,44.69,44.66,44.07,43.85,...,38.61,39.45,40.46,40.09,40.14,39.19,38.65,38.88,39.07,39.62
414,NYSE,WMC,21.53,22.00,21.87,22.52,22.59,22.46,23.80,23.59,...,21.14,21.25,21.26,21.01,20.34,19.77,19.67,19.96,20.94,21.45
415,NYSE,WNR,30.00,30.54,29.43,30.71,NaN,31.98,32.34,32.03,...,27.60,26.94,NaN,28.78,28.94,28.19,27.25,27.62,27.62,28.21
416,NYSE,WPO,430.12,445.46,435.69,444.50,449.84,449.44,438.87,433.30,...,371.40,372.22,375.79,373.40,370.00,365.21,361.89,361.60,360.00,360.76
417,NYSE,WSH,38.70,39.08,39.20,39.33,39.28,39.00,38.50,38.42,...,34.33,34.50,34.60,34.61,34.26,33.53,33.40,33.54,33.54,33.49
418,NYSE,WU,14.68,15.00,14.83,15.04,15.13,15.01,14.45,14.32,...,13.67,13.67,NaN,13.53,13.76,13.61,13.38,13.70,13.42,13.44
419,NYSE,ZB-B,25.32,25.33,25.32,25.32,25.32,25.32,25.32,25.32,...,25.60,25.53,25.68,NaN,25.43,25.44,25.35,25.44,25.48,25.49
420,NYSE,ZF,12.53,12.68,12.68,12.87,12.89,12.89,12.86,12.77,...,12.36,12.34,12.35,12.41,12.47,12.16,12.10,12.11,12.09,12.07

In [13]:
S['load_date'] = '2013-12-01'
S.head()

,exec,symbol,pc_1,pc_2,pc_3,pc_4,pc_5,pc_6,pc_7,pc_8,...,pc_72,pc_73,pc_74,pc_75,pc_76,pc_77,pc_78,pc_79,pc_80,load_date
0,AMEX,ADGE,1.69,1.87,1.87,2.00,2.01,2.01,1.95,1.99,...,2.20,2.14,2.21,2.31,2.37,2.31,2.18,2.19,2.20,2013-12-01
1,AMEX,AGQ,24.51,25.00,23.98,31.91,35.71,35.68,36.59,34.74,...,43.90,43.27,43.49,43.48,45.79,44.10,43.32,43.75,43.06,2013-12-01
2,AMEX,AMU,28.23,28.48,28.00,28.56,28.61,28.62,28.69,28.43,...,25.61,25.64,25.50,25.33,25.14,24.25,23.95,24.03,NaN,2013-12-01
3,AMEX,ANV,10.45,11.44,11.88,13.17,13.67,14.16,NaN,11.79,...,27.22,27.27,27.65,28.55,30.71,30.13,28.96,29.40,29.30,2013-12-01
4,AMEX,AOA,39.20,39.72,39.30,40.03,40.16,40.00,39.59,39.50,...,37.71,37.83,37.93,37.79,37.76,37.17,36.74,36.86,36.98,2013-12-01

In [14]:
S['diff_per'] = 100* (S.pc_1.fillna(0.0).astype(float) - S.pc_2.fillna(0.0).astype(float)) / (S.pc_2 + 0.0001)

In [17]:
S[['exec', 'symbol', 'pc_1', 'pc_2', 'diff_per']].head()

   exec symbol   pc_1   pc_2  diff_per
0  AMEX   ADGE   1.69   1.87 -9.625154
1  AMEX    AGQ  24.51  25.00 -1.959992
2  AMEX    AMU  28.23  28.48 -0.877806
3  AMEX    ANV  10.45  11.44 -8.653771
4  AMEX    AOA  39.20  39.72 -1.309161

In [20]:
# append a new column 'top' and assign values 'Y' to rownames  1 , 2, 3 and 4
S.loc[1:6, 'top'] ="Y"
S[['exec', 'symbol','pc_1', 'pc_2', 'diff_per', 'top']].head(10)

   exec symbol   pc_1   pc_2  diff_per  top
0  AMEX   ADGE   1.69   1.87 -9.625154  NaN
1  AMEX    AGQ  24.51  25.00 -1.959992    Y
2  AMEX    AMU  28.23  28.48 -0.877806    Y
3  AMEX    ANV  10.45  11.44 -8.653771    Y
4  AMEX    AOA  39.20  39.72 -1.309161    Y
5  AMEX    AXX   1.07   1.05  1.904581    Y
6  AMEX    BAB  30.83  30.70  0.423451    Y
7  AMEX    CCX  21.16  21.38 -1.028994  NaN
8  AMEX    CWB  42.00  42.17 -0.403129  NaN
9  AMEX    DBU  18.23  18.59 -1.936515  NaN

In [21]:
# append a new column ODDS and assign values to row (index) names  1 , 3 and 5
S.loc[[1,3,5], 'odds'] =1
S[['exec', 'symbol','pc_1', 'pc_2', 'diff_per', 'top', 'odds']].head(8)

   exec symbol   pc_1   pc_2  diff_per  top  odds
0  AMEX   ADGE   1.69   1.87 -9.625154  NaN   NaN
1  AMEX    AGQ  24.51  25.00 -1.959992    Y   1.0
2  AMEX    AMU  28.23  28.48 -0.877806    Y   NaN
3  AMEX    ANV  10.45  11.44 -8.653771    Y   1.0
4  AMEX    AOA  39.20  39.72 -1.309161    Y   NaN
5  AMEX    AXX   1.07   1.05  1.904581    Y   1.0
6  AMEX    BAB  30.83  30.70  0.423451    Y   NaN
7  AMEX    CCX  21.16  21.38 -1.028994  NaN   NaN

In [27]:
S.loc[S.pc_1<20, 'Ratio'] = (S.pc_1 - S.pc_2)/ S.pc_1
S.loc[(S.pc_1 <50) & (S.pc_1 >15), 'diff'] = S.pc_1 - S.pc_2
S[['exec', 'symbol','pc_1', 'pc_2', 'diff', 'Ratio']].head(8)

   exec symbol   pc_1   pc_2  diff     Ratio
0  AMEX   ADGE   1.69   1.87   NaN -0.106509
1  AMEX    AGQ  24.51  25.00 -0.49  0.019600
2  AMEX    AMU  28.23  28.48 -0.25  0.008778
3  AMEX    ANV  10.45  11.44   NaN -0.094737
4  AMEX    AOA  39.20  39.72 -0.52  0.013092
5  AMEX    AXX   1.07   1.05   NaN  0.018692
6  AMEX    BAB  30.83  30.70  0.13 -0.004235
7  AMEX    CCX  21.16  21.38 -0.22  0.010290

In [30]:
S['avg3a'] = (S.pc_1 + S.pc_2 + S.pc_3) /3
S['avg3b'] = (S.pc_4 + S.pc_5 + S.pc_6) /3
S1 = S[((S.avg3a / S.avg3b) > 1.03)]
S2 = S[((S.avg3a /S.avg3b < 0.97))]
S1.head(8)

,exec,symbol,pc_1,pc_2,pc_3,pc_4,pc_5,pc_6,pc_7,pc_8,...,pc_79,pc_80,load_date,diff_per,top,odds,Ratio,diff,avg3a,avg3b
11,AMEX,DTO,48.28,46.64,47.20,44.81,42.78,41.86,42.37,NaN,...,NaN,45.39,2013-12-01,3.516287,NaN,NaN,-0.035163,1.64,47.373333,43.150000
87,NASDAQ,AKRX,14.28,14.35,14.16,14.10,13.61,13.79,13.37,13.47,...,NaN,13.06,2013-12-01,-0.487801,NaN,NaN,-0.004902,NaN,14.263333,13.833333
392,NYSE,TAOM,4.61,4.56,4.50,4.48,4.31,4.21,4.38,4.27,...,3.55,3.52,2013-12-01,1.096467,NaN,NaN,0.010846,NaN,4.556667,4.333333

In [31]:
S2.head(8)

,exec,symbol,pc_1,pc_2,pc_3,pc_4,pc_5,pc_6,pc_7,pc_8,...,pc_79,pc_80,load_date,diff_per,top,odds,Ratio,diff,avg3a,avg3b
0,AMEX,ADGE,1.69,1.87,1.87,2.00,2.01,2.01,1.95,1.99,...,2.19,2.20,2013-12-01,-9.625154,NaN,NaN,-0.106509,NaN,1.810000,2.006667
1,AMEX,AGQ,24.51,25.00,23.98,31.91,35.71,35.68,36.59,34.74,...,43.75,43.06,2013-12-01,-1.959992,Y,1.0,0.019600,-0.49,24.496667,34.433333
3,AMEX,ANV,10.45,11.44,11.88,13.17,13.67,14.16,NaN,11.79,...,29.40,29.30,2013-12-01,-8.653771,Y,1.0,-0.094737,NaN,11.256667,13.666667
5,AMEX,AXX,1.07,1.05,1.08,1.14,1.16,1.23,1.25,1.22,...,1.75,1.86,2013-12-01,1.904581,Y,1.0,0.018692,NaN,1.066667,1.176667
24,AMEX,FIW,27.32,27.86,27.37,28.35,28.42,28.39,27.98,27.94,...,25.74,25.76,2013-12-01,-1.938256,NaN,NaN,0.019383,-0.54,27.516667,28.386667
26,AMEX,FRN,18.00,18.28,18.13,18.72,18.69,18.75,18.89,18.71,...,19.87,19.74,2013-12-01,-1.531720,NaN,NaN,-0.015556,-0.28,18.136667,18.720000
27,AMEX,GCC,26.97,27.13,26.81,27.69,27.88,27.89,27.95,27.84,...,29.08,29.10,2013-12-01,-0.589751,NaN,NaN,0.005898,-0.16,26.970000,27.820000
35,AMEX,IAT,25.86,26.17,26.10,26.80,27.13,27.14,26.78,26.64,...,24.38,24.45,2013-12-01,-1.184558,NaN,NaN,0.011846,-0.31,26.043333,27.023333

In [32]:
S1[['symbol', 'avg3a', 'avg3b']].head()

    symbol      avg3a      avg3b
11     DTO  47.373333  43.150000
87    AKRX  14.263333  13.833333
392   TAOM   4.556667   4.333333

In [33]:
S2[['symbol', 'avg3a', 'avg3b']].head()

   symbol      avg3a      avg3b
0    ADGE   1.810000   2.006667
1     AGQ  24.496667  34.433333
3     ANV  11.256667  13.666667
5     AXX   1.066667   1.176667
24    FIW  27.516667  28.386667

In [35]:
S3 = S[((S.avg3a /S.avg3b >= 0.97) & (S.avg3a /S.avg3b <= 1.03))]
S3.head()

,exec,symbol,pc_1,pc_2,pc_3,pc_4,pc_5,pc_6,pc_7,pc_8,...,pc_79,pc_80,load_date,diff_per,top,odds,Ratio,diff,avg3a,avg3b
2,AMEX,AMU,28.23,28.48,28.00,28.56,28.61,28.62,28.69,28.43,...,24.03,NaN,2013-12-01,-0.877806,Y,NaN,0.008778,-0.25,28.236667,28.596667
4,AMEX,AOA,39.20,39.72,39.30,40.03,40.16,40.00,39.59,39.50,...,36.86,36.98,2013-12-01,-1.309161,Y,NaN,0.013092,-0.52,39.406667,40.063333
6,AMEX,BAB,30.83,30.70,30.83,30.84,30.75,30.64,30.68,30.65,...,30.37,30.33,2013-12-01,0.423451,Y,NaN,-0.004235,0.13,30.786667,30.743333
7,AMEX,CCX,21.16,21.38,21.25,21.59,21.65,21.58,21.54,21.42,...,21.42,21.31,2013-12-01,-1.028994,NaN,NaN,0.010290,-0.22,21.263333,21.606667
8,AMEX,CWB,42.00,42.17,42.03,42.62,42.62,42.36,42.20,41.93,...,40.07,40.40,2013-12-01,-0.403129,NaN,NaN,0.004031,-0.17,42.066667,42.533333

In [37]:
S3[['exec','avg3a', 'avg3b']].head()

   exec      avg3a      avg3b
2  AMEX  28.236667  28.596667
4  AMEX  39.406667  40.063333
6  AMEX  30.786667  30.743333
7  AMEX  21.263333  21.606667
8  AMEX  42.066667  42.533333

In [38]:
len(S), len(S1), len(S2), len(S3)

(421, 3, 131, 198)

In [45]:
v = ['symbol', 'avg3a', 'avg3b']
S12 = pd.concat([S1[v].head(), S2[v].head()], axis=0)
S12

    symbol      avg3a      avg3b
11     DTO  47.373333  43.150000
87    AKRX  14.263333  13.833333
392   TAOM   4.556667   4.333333
0     ADGE   1.810000   2.006667
1      AGQ  24.496667  34.433333
3      ANV  11.256667  13.666667
5      AXX   1.066667   1.176667
24     FIW  27.516667  28.386667

In [48]:
S1 = S[['symbol', 'pc_1']]
S2 = S[['pc_3']]
S12 = pd.concat([S1, S2], axis=1)
S12.head()

  symbol   pc_1   pc_3
0   ADGE   1.69   1.87
1    AGQ  24.51  23.98
2    AMU  28.23  28.00
3    ANV  10.45  11.88
4    AOA  39.20  39.30

In [56]:
S1 =S[(S.pc_1 >20)][['symbol', 'pc_1']].head()
S1

  symbol   pc_1
1    AGQ  24.51
2    AMU  28.23
4    AOA  39.20
6    BAB  30.83
7    CCX  21.16

In [55]:
S2 = S[(S.pc_5<20)][['symbol', 'pc_2']].head()
S2

   symbol   pc_2
0    ADGE   1.87
3     ANV  11.44
5     AXX   1.05
9     DBU  18.59
13    EFU  14.53

In [57]:
S12 = pd.concat([S1, S2], join='inner')
S12

   symbol
1     AGQ
2     AMU
4     AOA
6     BAB
7     CCX
0    ADGE
3     ANV
5     AXX
9     DBU
13    EFU

In [ ]:
# slip the data based on the difference of moveing AVG
S1 =  S[(S.pc_1>20)][['symbol','pc_1', 'pc_3']] 
S2 =  S[(S.pc_5<20)][['symbol','pc_2', 'pc_']] 
S12=pd.concat([S1, S2], join="inner")    
S12.head()